@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
   html,
   body {
      @apply m-0 w-full h-screen;
   }
}

@layer components {
   a {
      @apply text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-200;
   }
}

@layer utilities {
   .container {
      @apply mx-auto px-4;
   }
}

@theme {
   --color-primary-50: #eff6ff;
   --color-primary-100: #dbeafe;
   --color-primary-500: #3b82f6;
   --color-primary-600: #2563eb;
   --color-primary-700: #1d4ed8;
   --color-secondary: #9333ea;

   --color-primary-dark: #07183f;
   --color-secondary-dark: #a78bfa;

   --font-sans: 'Inter', sans-serif;
}
