<footer class="py-8 text-center text-sm text-gray-500 dark:text-gray-500">
   <!-- <p>
      Designed & Built by <span class="text-primary-600 dark:text-primary-400">Sabmus</span>
   </p> -->
   <p class="mt-2 text-xs">Built with AstroJS & Tailwind CSS</p>
</footer>
